[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
pyramid = "*"
apispec = "*"

[dev-packages]
webtest = "*"
pytest = "*"
"flake8" = "*"
apispec = "*"
